body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    background-image: url(31.jpg);
    background-color: rgba(255, 255, 255, 0.521); 
    background-blend-mode: lighten;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-position: bottom center;
}
.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: rgb(209,180,211);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    border-bottom: 3px solid rgb(87, 86, 86);
    display: flex;
    align-items: center;
}
.menu li label{
     cursor:pointer;
}
.menu a {
    display: inline-block;
    padding: 5px 10px 0px 10px;
}  
.menu li {
    position: relative;
   
}
.menu li:hover {
    background-color: #90749a;
    border-radius: 10px;
}
.body {
    background-image: url('background.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    font-family: sans-serif;
}
.registration-form {
    background-color: #e9d1f2;
    border-radius: 30px;
    border: 1px solid rgb(58, 58, 58);
    width: 500px;
    height: 600px;
}
.welcome-text {
    margin-top: 10px;
    text-align: center;
}
.input-container {
    display: flex;
    justify-content: center; 
}
.input-container input {
    width: 80%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
}
.button-container2{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.button1{
    cursor: pointer;
    font-size: 20px;
    padding: 5px 50px 5px 50px;
    background-color: rgb(214, 214, 214);
    color: #9631aa;
    width: 40%;
    border-radius: 10px;
}
.email{
    border-radius: 5px 0 0 5px;
    background-color: #838383;
}
.num{
    border-radius: 0 5px 5px 0;
}
b{
    margin-left: 60px;
    font-size: large;
}
.krest{
    margin-top: 25px;
    text-align: right;
    margin-right: 25px;
}
.button-container {
    display: flex;
    justify-content: center; 
    margin-top: 20px;
}
.register-button {
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
    background-color:#664c6b; 
    color: #f6ecfb;
    border: none;
    border-radius: 5px;
}
.register-button:hover{
    background-color: #90749a;
    color: #333;
}
.login-link {
    text-align: center;
    margin-top: 30px; 
}
.stih {
    position: fixed;
    left: -400px; 
    top: 0;
    width: 200px;
    height: 100%;
    background: linear-gradient(to bottom, #f8f2fe, #f8d5cf );
    box-shadow: 2px 0 5px rgba(0,0,0,0.2);
    transition: left 0.3s ease;
    padding: 20px;
    z-index: 100;
    color: #6d5775;
    font-size: large;
}
h3 {
    margin-left: -20px;
}
.stih ul {
    padding: 0;
    margin: 0;
    margin-left: 10px;
}
.stih ul li {
    margin-bottom: 5px;
}
.stih a {
    color: #9631aa; 
    text-decoration: none;
    display: block;
}
.stih a:hover {
    text-decoration: underline; 
}
#panel:checked + .stih {
    left: 0;
}
.search-container {
    position: absolute; 
    left: 245px;
    transform: translateX(-50%); 
    display: flex;
    align-items: center;
    max-width: 400px; 
    width: 100%; 
}
.search-input {
    width: 100%;
    padding: 10px 40px 10px 40px; 
    border: 1px solid #ccc;
    border-radius: 25px;
    flex: 1;
    margin-left: 5px;
    height: 7px;
    background-color: #f6ecfb;
}
.search-icon {
    position: absolute;
    left: 15px; 
    top: 50%; 
    transform: translateY(-50%); 
    width: 20px;
    height: 20px;
}
.basket {
    position: fixed; 
    right: 43px;
    height: auto; 
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 5px 7px 0px 7px;
}
.basket:hover {
    transform: scale(1.1); 
    background-color: #90749a;
    border-radius: 10px;
}    
.prof {
    position: fixed;
    right: 8px;
    height: auto; 
    cursor: pointer;
    transition: transform 0.3s ease;
}
.prof:hover {
    transform: scale(1.1);
    background-color: #90749a;
    border-radius: 10px;
}   
footer {
    flex-shrink: 0;
    background-color: rgb(209,180,211);
    padding: 0;
    text-align: center;
    margin-top: auto;
    margin-bottom: 0;
    padding-bottom: 10px; 
}
.footer-content p {
    margin-bottom: 5px; 
}
.footer-content nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}
.footer-content nav ul li {
    display: inline-block;
    margin: 0 10px;
}
.footer-content nav ul li a {
    text-decoration: none;
    color: #333;
}
.footer-content nav ul li a:hover {
    text-decoration: underline;
}
